.hole {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 350px;
    padding: 30px 20px;
    box-shadow: 0 8px 16px rgba(242, 238, 238, 0.2);
    border-radius: 8px;
    background: rgb(218, 211, 211);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-width {
    width: 100%;
}