mat-card
{
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    width: 1042px;
    margin: 0 auto;

}
.product-details
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.cart-item
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.detials
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
.removeCart
{
    background: #22949a;
    width: 100px;
    height: 43px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}