   <mat-card class="cart-item">
    <div>
   <img [src]="product.image" alt="{{ product.name }}" class="product-image">
    <h4><Strong>{{product.name}}</Strong></h4>
    </div>
    <div class="detials">
        <div class="product-details">
        <p>$ {{product.price}}</p>
        <div>
        <label style="font-weight: bold;">Quantity: </label>
        <input type="number" name="quantity" value="{{product.quantity}}" min="1" max="10"   [(ngModel)]="product.quantity" (ngModelChange)="updateCartQuantity(product.quantity)">
        </div>
        <p>total</p>
        </div>
        <div>
        <button (click)="removeFromCart()" style=" background: #22949a;
    width: 100px;
    height: 43px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;">Remove</button>
        </div>
    </div>
</mat-card> 