<div class="hole">
<div class="header">
<h1><i (click)="Back()" title="back" class="fa-solid fa-circle-arrow-left"></i></h1>
</div>
  <div class="main">
    <div class="head-title">
  <h3>Price</h3>
  <h3>Quantity</h3>
  <h3>Total</h3>
</div>
  @for (item of products; track $index) {
   <app-cart-details [product]="item" (itemSelected)="handleItem($event)"  (quantityUpdated)="loadCart()"></app-cart-details>
  }
  </div>
</div>


<mat-card class="total">
  <h1>Total:</h1>
  <h2>{{total}}</h2>
</mat-card>


