<ion-card class="card">
    <img 
    [src]="product.image" 
    alt="{{ product.name }}">
    <div style="flex: 1; padding: 16px; display: flex; flex-direction: column; justify-content: space-between;">
    <ion-card-header style="padding: 0;">
      <ion-card-title>{{ product.name }}</ion-card-title>
      <br>
      <ion-card-subtitle>{{ product.title }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="padding: 0;">
        <div class="product-PR">
      <p><strong>Price:</strong> ${{ product.price }}</p>
      <p> {{ product.rating }} ⭐</p>
      </div>
      <p>{{ product.description }}</p>
    </ion-card-content>
  </div>
</ion-card>

